/* remove default margin and padding and set some default style to the body */
body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
/* set the default paragraph color */
p{
    color: #707070;
}
/* this is header section  */
/* align horizontal and vertically center */
.header{
    color: white;
    /* make a overlay width gradient */
    background-image: linear-gradient( rgba(18, 18, 18, .5), rgba(18, 18, 18, 1)), url("./images/donation9.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* set the heading of header area */
.header h1{
    font-size: 65px;
    font-family: 'Inter', sans-serif;
/* remove some space between heading  and paragraph element*/
    margin-bottom: 20px;
}
.header p{
    color: white;
}
 /* end fo heading section */

/* set the sub heading size */
h2{
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    margin-top: 0.5rem;
    /* remove some space between secondary heading  and paragraph element*/
    margin-bottom: 20px;
}
/* set parent element default padding to aligned children element horizontally center*/
.container{
    padding: 0 10rem;
}
/* our page link's and buttons styles */
.btn{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    background-color: rgb(255, 89, 89);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 1rem 1.281rem;
    display: inline-block;
}
/* set some vertical spacing */
.section{
    margin: 5rem 0;
}
/* to set child element side by side  */
.flx-container{
    display: flex;
    justify-content: center;
}
/* to give equal width on element*/
.half{
    width: 50%;
    text-align: left;
    border-radius: 5px;
    background-color: #D9D9D9;
    border: 10px solid #D9D9D9;
}
/* to give  border left and right radius */
.half.radius-right-0{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;    
}
.half.radius-left{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.half img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 10px;
}
/* this is for uor amount area design */
.badge{
    width: auto;
    padding:40px 20px;
    max-width: 200px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: #E2E2E2;
    margin-left: 10px;
}
/* we don't need margin left on first element so remove it*/
.badge #remove-margin-l{
    margin-left: 0;
}
/* set an active badge */
.badge.active{
    border: 2px solid #FF5959;
    color:#FF5959;
}
/* user input amount area */

/******************************* start ***********************************/
form{
    margin-top: 40px;
    text-align: center;
}
form input[type="number"]{
    width: 100%;
    display: inline-block;
    text-align: center;
    border: none;
    border-bottom: 2px solid #707070;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
/* this design will be applied on 'get my updates section' */
form div{
    font-size: 16px;
}
form input[type="email"]{
    text-align: center;
    border: none;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    background-color: #D9D9D9;
    color: #AA9F9F;
}
/* change size and left-top and bottom-left radius of subscribe button */
form input#subscribe-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    padding: 9px 15px;
}
/********************************end *************************************/

/* design of our card section */

/******************************* start **************************************/
.card{
    box-shadow: 3px 5px 15px 0 #707070;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
    max-width: 250px;
    text-align: left;
    background-color: rgba(79, 157, 166, 0.1);
    font-size: 16px;
}
.card#middle{
    /* set top and left and right side for giving space between card's */
    margin: 50px 30px 0;
    background-color: rgba(255, 89, 89, .1);
}
.card#right{
    background-color: #FFF4D6;
}
/*************************** img gallery ******************************/
.our-works{
     background-color: #D9D9D9;
     padding: 1rem;
    border-radius: 10px;
    margin-bottom: 5rem;
}
     .img-gallery{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}
.img-container{
    width: 33.33%;
}
.img-container img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/****************************** card design end *****************************/

/* footer are design */
footer{
    background-color: #0B0D17;
    padding: 30px 0;
    font-size: 14px;
/* this will be add some space before footer */
    margin-top: 100px;
}
footer h2{
    font-family: 'Lobster', cursive;
    margin-bottom: 0;
    color: #FF5959;
    letter-spacing: 2.5px;
    font-size: 36px;
    text-transform: capitalize;
}